html {
    font-family: system-ui;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    margin:10px;
    line-height: 40px;
  }

  p{
      text-align: left;
      font-size: 1rem;
  }